<section class="c-categories">
    <div class="container--medium">
        <h2 class="c-heading-section hover-animation--red">Categories</h2>
        <div class="c-categories__list">
            <div class="c-categories__list-left">
                <div class="c-categories__item">
                    <img class="c-categories__item-image" src="./images/categories-img-01.jpg" alt="categories">
                    <div class="c-categories__item-content">
                        <p class="c-categories__item-title">
                            Studio Apartments
                        </p>
                        <p class="c-categories__item-properies">
                            42 properties
                        </p>
                        <button class="c-button-summit">MORE DETAILS</button>
                    </div>
                </div>
                <div class="c-categories__item">
                    <img class="c-categories__item-image" src="./images/categories-img-02.jpg" alt="categories">
                    <div class="c-categories__item-content">
                        <p class="c-categories__item-title">
                            Studio Apartments
                        </p>
                        <p class="c-categories__item-properies">
                            42 properties
                        </p>
                        <button class="c-button-summit">MORE DETAILS</button>
                    </div>
                </div>
            </div>
            <div class="c-categories__list-center">
                <div class="c-categories__item">
                    <img class="c-categories__item-image" src="./images/categories-img-03.jpg" alt="categories">
                    <div class="c-categories__item-content">
                        <p class="c-categories__item-title">
                            Studio Apartments
                        </p>
                        <p class="c-categories__item-properies">
                            42 properties
                        </p>
                        <button class="c-button-summit">MORE DETAILS</button>
                    </div>
                </div>
            </div>
            <div class="c-categories__list-right">
                <div class="c-categories__item">
                    <img class="c-categories__item-image" src="./images/categories-img-04.jpg" alt="categories">
                    <div class="c-categories__item-content">
                        <p class="c-categories__item-title">
                            Studio Apartments
                        </p>
                        <p class="c-categories__item-properies">
                            42 properties
                        </p>
                        <button class="c-button-summit">MORE DETAILS</button>
                    </div>
                </div>
                <div class="c-categories__item">
                    <img class="c-categories__item-image" src="./images/categories-img-05.jpg" alt="categories">
                    <div class="c-categories__item-content">
                        <p class="c-categories__item-title">
                            Studio Apartments
                        </p>
                        <p class="c-categories__item-properies">
                            42 properties
                        </p>
                        <button class="c-button-summit">MORE DETAILS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>