<div class="c-menu__menu-item-dropdown">
    <p class="c-menu__menu-item-dropdown-text">Timeline</p>
    <p class="c-menu__menu-item-dropdown-text">Classic</p>
    <p class="c-menu__menu-item-dropdown-text">Left Sidebar</p>
    <p class="c-menu__menu-item-dropdown-text">Right Sidebar</p>
    <p class="c-menu__menu-item-dropdown-text">No Sidebar</p>
    <p class="c-menu__menu-item-dropdown-text">Masonry</p>
    <p class="c-menu__menu-item-dropdown-text">2 Columns</p>
    <p class="c-menu__menu-item-dropdown-text">3 Columns</p>
</div>