<section class="c-form-search">
    <div class="container--medium">
        <div class="c-form-search__inner">
            <h2 class="c-form-search__title">Find Your Home</h2>
            <form class="c-form-search__form">
                <div class="u-flex u-flex__y--center u-flex__x--between">
                    <div class="c-form-search__form-group">
                        <label class="c-form-search__form-label">Keyword</label>
                        @@include('./input.html',{ "defaultValue": "", 'placeholder': 'Any' })
                    </div>
                    <div class="c-form-search__form-group">
                        <label class="c-form-search__form-label">Location</label>
                        @@include('./custom-dropdown.html',{ "defaultSelect": "Any", "options": ['Any', 'Denver',
                        'Houston', 'Las Vegas', 'Orlando', 'Phoenix', 'San Diego', 'Miami', 'Atlanta'] })
                    </div>
                    <div class="c-form-search__form-group">
                        <label class="c-form-search__form-label">Property Status</label>
                        @@include('./custom-dropdown.html',{ "defaultSelect": "Any", "options": ['Any', 'Denver',
                        'Houston', 'Las Vegas', 'Orlando', 'Phoenix', 'San Diego', 'Miami', 'Atlanta'] })
                    </div>
                    <div class="c-form-search__form-group">
                        <label class="c-form-search__form-label">Property Type</label>
                        @@include('./custom-dropdown.html',{ "defaultSelect": "Any", "options": ['Any', 'Denver',
                        'Houston', 'Las Vegas', 'Orlando', 'Phoenix', 'San Diego', 'Miami', 'Atlanta'] })
                    </div>
                </div>
                <div class="u-flex u-flex__y--flex-start u-flex__x--between">
                    <div class="c-form-search__form-group">
                        <label class="c-form-search__form-label">Price (USD)</label>
                        @@include('./range-slider.html',{ "id": "range-slider-price", "fromValue": "100", 'toValue':
                        '8000', "step": '10' })
                    </div>
                    <div class="c-form-search__form-group">
                        <label class="c-form-search__form-label">Area (Sq Ft)</label>
                        @@include('./range-slider.html',{ "id": "range-slider-area", "fromValue": "1000", 'toValue':
                        '22000', "step": '100' })
                    </div>
                    <div class="c-form-search__form-group">
                        <label class="c-form-search__form-label">Min Beds</label>
                        @@include('./custom-dropdown.html',{ "defaultSelect": "Any", "options": ['Any', 'Denver',
                        'Houston', 'Las Vegas', 'Orlando', 'Phoenix', 'San Diego', 'Miami', 'Atlanta'] })
                    </div>
                    <div class="c-form-search__form-group">
                        <label class="c-form-search__form-label">Min Baths</label>
                        @@include('./custom-dropdown.html',{ "defaultSelect": "Any", "options": ['Any', 'Denver',
                        'Houston', 'Las Vegas', 'Orlando', 'Phoenix', 'San Diego', 'Miami', 'Atlanta'] })
                    </div>
                    <button class="c-button-summit hover-opacity">SEARCH</button>
                </div>
            </form>
        </div>
    </div>
</section>