<div class="c-properties__item">
    <div class="c-properties__item-image-block">
        <img class="c-properties__item-image" src="./images/properties-img-01.jpg" alt="properties">
        <span class="c-properties__item-price"><span>$@@price</span>/mon</span>
    </div>
    <p class="c-properties__item-title">@@title</p>
    <div class="c-properties__item-info">
        <div class="c-properties__item-info-item">
            <img src="./images/icon/square-feet.png" alt="icon">
            <span>@@sqft sq ft</span>
        </div>
        <div class="c-properties__item-info-item">
            <img src="./images/icon/beds.png" alt="icon">
            <span>@@beds bedrooms</span>
        </div>
        <div class="c-properties__item-info-item">
            <img src="./images/icon/baths.png" alt="icon">
            <span>@@baths bathrooms</span>
        </div>
        <div class="c-properties__item-info-item">
            <img src="./images/icon/garages.png" alt="icon">
            <span>@@garages garages</span>
        </div>
    </div>
    <p class="c-properties__item-desc">
        @@desc
    </p>
</div>