<div class="c-properties__item">
    <div class="c-properties__item-image-block">
        <img class="c-properties__item-image" src="./images/properties-img-01.jpg" alt="properties">
        <span class="c-properties__item-price"><span>$4,339.00</span>/mon</span>
    </div>
    <p class="c-properties__item-title">Building: 123 on the Park</p>
    <div class="c-properties__item-info">
        <div class="c-properties__item-info-item">
            <img src="./images/icon/square-feet.png" alt="icon">
            <span>1200 sq ft</span>
        </div>
        <div class="c-properties__item-info-item">
            <img src="./images/icon/beds.png" alt="icon">
            <span>4 bedrooms</span>
        </div>
        <div class="c-properties__item-info-item">
            <img src="./images/icon/baths.png" alt="icon">
            <span>2 bathrooms</span>
        </div>
        <div class="c-properties__item-info-item">
            <img src="./images/icon/garages.png" alt="icon">
            <span>2 garages</span>
        </div>
    </div>
    <p class="c-properties__item-desc">
        Introducing Brooklyn’s most unique and genteel address: 123 on the
        Park. A stately, one-of-a-kind rental residence directly overlooking Brooklyn’s famed Prospect Park.
    </p>
</div>