<div class="c-members">
    <div id="memberSlider" class="c-members__list">
        <div class="c-members__items keen-slider">
            <div class="c-members__item keen-slider__slide">
                <img src="./images/members-01.png" alt="member">
                <div class="c-members__item-content">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                    <button class="c-button-summit">GET IN TOUCH</button>
                </div>
            </div>
            <div class="c-members__item keen-slider__slide">
                <img src="./images/members-02.png" alt="member">
                <div class="c-members__item-content">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                    <button class="c-button-summit">GET IN TOUCH</button>
                </div>
            </div>
            <div class="c-members__item keen-slider__slide">
                <img src="./images/members-03.png" alt="member">
                <div class="c-members__item-content">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                    <button class="c-button-summit">GET IN TOUCH</button>
                </div>
            </div>
            <div class="c-members__item keen-slider__slide">
                <img src="./images/members-04.jpg" alt="member">
                <div class="c-members__item-content">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                    <button class="c-button-summit">GET IN TOUCH</button>
                </div>
            </div>
            <div class="c-members__item keen-slider__slide">
                <img src="./images/members-01.png" alt="member">
                <div class="c-members__item-content">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                    <button class="c-button-summit">GET IN TOUCH</button>
                </div>
            </div>
            <div class="c-members__item keen-slider__slide">
                <img src="./images/members-02.png" alt="member">
                <div class="c-members__item-content">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                    <button class="c-button-summit">GET IN TOUCH</button>
                </div>
            </div>
            <div class="c-members__item keen-slider__slide">
                <img src="./images/members-03.png" alt="member">
                <div class="c-members__item-content">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                    <button class="c-button-summit">GET IN TOUCH</button>
                </div>
            </div>
            <div class="c-members__item keen-slider__slide">
                <img src="./images/members-04.jpg" alt="member">
                <div class="c-members__item-content">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                    <button class="c-button-summit">GET IN TOUCH</button>
                </div>
            </div>
        </div>
        <div class="c-members__slide-right">
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <div class="c-members__slide-left">
            <i class="fa-solid fa-angle-left"></i>
        </div>
    </div>
</div>