<div class="c-members">
    <div class="c-carousel swiper">
        <div class="c-members__list swiper-wrapper">
            <div class="c-members__items swiper-slide">
                <div class="c-members__item">
                    <img src="./images/members-01.png" alt="member">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                </div>
                <div class="c-members__item">
                    <img src="./images/members-01.png" alt="member">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                </div>
                <div class="c-members__item">
                    <img src="./images/members-01.png" alt="member">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                </div>
                <div class="c-members__item">
                    <img src="./images/members-01.png" alt="member">
                    <p class="c-members__item-title">
                        Michelle Nelson
                    </p>
                    <p class="c-members__item-role">
                        Realtor
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>