<section class="c-mv">
    <div class="container u-flex--wrap u-flex__y--center u-flex__x--between">
        <div class="c-mv__logo">
            <i class="fa-solid fa-house-chimney c-mv__logo-icon"></i>
            <div class="c-mv__logo-text">
                <span class="c-mv__logo-text-1">GRAND</span>
                <span class="c-mv__logo-text-2">VECTOR</span>
            </div>
        </div>
        <div class="c-mv__menu">
            <div class="c-mv__menu-item">
                <span class="c-mv__menu-item-name hover-animation--red">HOME</span>
                @@include('../components/dropdown-menu.html')
            </div>
            <div class="c-mv__menu-item">
                <span class="c-mv__menu-item-name hover-animation--red">ELEMENTS</span>
                @@include('../components/dropdown-menu.html')
            </div>
            <div class="c-mv__menu-item">
                <span class="c-mv__menu-item-name hover-animation--red">FEATURES</span>
                @@include('../components/dropdown-menu.html')
            </div>
            <div class="c-mv__menu-item">
                <span class="c-mv__menu-item-name hover-animation--red">EXTRAS</span>
                @@include('../components/dropdown-menu.html')
            </div>
            <div class="c-mv__menu-item">
                <span class="c-mv__menu-item-name hover-animation--red">PROPERTY CATALOG</span>
                @@include('../components/dropdown-menu.html')
            </div>
            <div class="c-mv__menu-item">
                <span class="c-mv__menu-item-name hover-animation--red">PAGES</span>
                @@include('../components/dropdown-menu.html')
            </div>
            <div class="c-mv__menu-item">
                <span class="c-mv__menu-item-name hover-animation--red">BLOG</span>
                @@include('../components/dropdown-menu.html')
            </div>
            <div class="c-mv__menu-item">
                <span class="c-mv__menu-item-name hover-animation--red">GALLERY</span>
                @@include('../components/dropdown-menu.html')
            </div>
        </div>
        <button class="c-button-summit">SUBMIT PROPERTY</button>
    </div>
</section>