<section class="c-properties">
    <div class="container--medium">
        <h2 class="c-heading-section hover-animation--red">Recent Properties</h2>
        <div class="c-properties__list">
            @@include('./item-properties.html')
            @@include('./item-properties.html')
            @@include('./item-properties.html')
            @@include('./item-properties.html')
            @@include('./item-properties.html')
            @@include('./item-properties.html')
        </div>
        <button class="c-button-summit hover-opacity">VIEW ALL PROPERTIES</button>
    </div>
</section>