<section class="c-properties">
    <div class="container--medium">
        <h2 class="c-heading-section hover-animation--red">Recent Properties</h2>
        <div class="c-properties__list">
            @@include('./item-properties.html', {
            'price': '4,339.00',
            'title': 'Building: 123 on the Park',
            'sqft': '1200',
            'beds': '4',
            'baths': '2',
            'garages': '2',
            'desc': 'Introducing Brooklyn’s most unique and genteel address: 123 on the Park. A stately, one-of-a-kind rental residence directly overlooking Brooklyn’s famed Prospect Park.',
            })
            @@include('./item-properties.html', {
            'price': '4,339.00',
            'title': 'Building: 123 on the Park',
            'sqft': '1200',
            'beds': '4',
            'baths': '2',
            'garages': '2',
            'desc': 'One of the original homes built at Ocean Beach.',
            })
            @@include('./item-properties.html', {
            'price': '4,339.00',
            'title': 'Building: 123 on the Park',
            'sqft': '1200',
            'beds': '4',
            'baths': '2',
            'garages': '2',
            'desc': 'Classic architectural detail, truly superb floor plan & strong upside potential for the next steward to restore this forever home to greatness.',
            })
            @@include('./item-properties.html', {
            'price': '4,339.00',
            'title': 'Building: 123 on the Park',
            'sqft': '1200',
            'beds': '4',
            'baths': '2',
            'garages': '2',
            'desc': 'Located in the heart of Silver Lake, this magnificently re-imagined Spanish bungalow is not to be missed. ',
            })
            @@include('./item-properties.html', {
            'price': '4,339.00',
            'title': 'Building: 123 on the Park',
            'sqft': '1200',
            'beds': '4',
            'baths': '2',
            'garages': '2',
            'desc': 'Front-facing, single level, well-designed floor plan. Secure building in a highly DESIRABLE location! ',
            })
            @@include('./item-properties.html', {
            'price': '4,339.00',
            'title': 'Building: 123 on the Park',
            'sqft': '1200',
            'beds': '4',
            'baths': '2',
            'garages': '2',
            'desc': 'This charming 2 bed and 2 bath townhome has been beautifully renovated and ready for its next owners.',
            })
        </div>
        <button class="c-button-summit hover-opacity">VIEW ALL PROPERTIES</button>
    </div>
</section>