<section class="c-testimonials">
    <div class="container--medium">
        <div class="c-testimonials__inner">
            <h2 class="c-heading-section hover-animation--red">Testimonials</h2>
            <div id="testimonialsSlider" class="keen-slider c-testimonials__carousel">
                <div class="c-testimonials__carousel-item keen-slider__slide">
                    <div class="c-testimonials__carousel-item-header">
                        <img class="c-testimonials__carousel-item-image" src="./images/testimonials-img-01.png"
                            alt="slide">
                        <span class="c-testimonials__carousel-item-title">Laura Russell</span>
                    </div>
                    <span class="c-testimonials__carousel-item-desc">Thanks a lot for the quick response. I was
                        really
                        impressed, your solution is excellent!! Your competence is justified!!</span>
                </div>
                <div class="c-testimonials__carousel-item keen-slider__slide">
                    <div class="c-testimonials__carousel-item-header">
                        <img class="c-testimonials__carousel-item-image" src="./images/testimonials-img-01.png"
                            alt="slide">
                        <span class="c-testimonials__carousel-item-title">Laura Russell</span>
                    </div>
                    <span class="c-testimonials__carousel-item-desc">Thanks a lot for the quick response. I was
                        really
                        impressed, your solution is excellent!! Your competence is justified!!</span>
                </div>
                <div class="c-testimonials__carousel-item keen-slider__slide">
                    <div class="c-testimonials__carousel-item-header">
                        <img class="c-testimonials__carousel-item-image" src="./images/testimonials-img-01.png"
                            alt="slide">
                        <span class="c-testimonials__carousel-item-title">Laura Russell</span>
                    </div>
                    <span class="c-testimonials__carousel-item-desc">Thanks a lot for the quick response. I was
                        really
                        impressed, your solution is excellent!! Your competence is justified!!</span>
                </div>
                <div class="c-testimonials__carousel-item keen-slider__slide">
                    <div class="c-testimonials__carousel-item-header">
                        <img class="c-testimonials__carousel-item-image" src="./images/testimonials-img-01.png"
                            alt="slide">
                        <span class="c-testimonials__carousel-item-title">Laura Russell</span>
                    </div>
                    <span class="c-testimonials__carousel-item-desc">Thanks a lot for the quick response. I was
                        really
                        impressed, your solution is excellent!! Your competence is justified!!</span>
                </div>
            </div>
        </div>
    </div>
</section>