body {
    font-family: $font_base;
    background-color: $color_grey_light;

    a:hover {
        opacity: 0.8;
    }

    hr {
        margin: 0 auto;
    }

    @include bp("sp") {
        overflow-x: hidden;
        padding-top: calculateRem(60px);
        min-width: 300px;

        hr {
            width: 100% !important;
        }
    }
}

.only-sp {
    display: none;

    @include bp("sp") {
        display: block;
    }
}

.only-pc {
    @include bp("sp") {
        display: none;
    }
}

.c-desc p {
    text-align: justify;
}

.c-button-summit {
    color: $color_white;
    font-size: 16px;
    background: $color_red;
    border: none;
    padding: 12px 26px;
    font-weight: 500;
    letter-spacing: 1px;
}

.hover-animation {
    cursor: pointer;
    position: relative;
    &:hover {
        &::before {
            width: 100%;
        }
    }
    &::before {
        content: "";
        min-height: 1px;
        width: 0;
        background-color: $color_base;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s ease;
    }
}

.hover-animation--red {
    cursor: pointer;
    position: relative;
    &:hover {
        &::before {
            width: 100%;
        }
    }
    &::before {
        content: "";
        min-height: 1px;
        width: 0;
        background-color: $color_red;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s ease;
    }
}

.hover-opacity {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.8;
    }
}

.hover-scale {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.hover-color-red {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        color: $color_red;
    }
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $color_grey;
        cursor: pointer;
        transition: all 0.3s ease;
        & + .dot {
            margin-left: 28px;
        }
        &--active {
            width: 20px;
            height: 20px;
            background-color: $color_red;
        }
    }
}
