// @-webkit-keyframes title__02before {
//   0%   {left: -5rem;}
//   50% {left: -4.5rem;}
//   100%   {left: -5rem;}
// }
// @keyframes title__02after {
//   0%   {right: -5rem;}
//   50% {right: -4.5rem;}
//   100%   {right: -5rem;}
// }
// @-webkit-keyframes title__02before {
//   0%   {left: -5rem;}
//   50% {left: -4.5rem;}
//   100%   {left: -5rem;}
// }
// @keyframes title__02after {
//   0%   {right: -5rem;}
//   50% {right: -4.5rem;}
//   100%   {right: -5rem;}
// }