.container {
    width: 100%;
    max-width: calculateRem($pc_width_max);
    margin: 0 auto;
    position: relative;
    padding-left: calculateRem(75px);
    padding-right: calculateRem(75px);

    &__fluid {
        min-width: 100%;
        margin: 0 auto;
    }
}

@include bp('sp') {
    .container {
        width: 100%;
        padding: 0 calculateRem(15px);
    }
}