.container {
    width: 100%;
    max-width: $pc_width_max_big;
    margin: 0 auto;
    position: relative;
    padding-left: 75px;
    padding-right: 75px;
    @media screen and (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
    }

    &__fluid {
        min-width: 100%;
        margin: 0 auto;
    }

    &--medium {
        width: 100%;
        max-width: $pc_width_max;
        margin: 0 auto;
        position: relative;
        padding-left: 75px;
        padding-right: 75px;
        @media screen and (max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
