$space-between-item: 30px;

.c-categories {
    padding-top: 70px;
    padding-bottom: 90px;
    .c-heading-section {
        margin-bottom: 60px;
        cursor: default;
    }
    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        &-left {
            display: flex;
            flex-direction: column;
            margin-right: $space-between-item;
            .c-categories__item {
                flex: 1;
                &:not(:last-child) {
                    margin-bottom: $space-between-item;
                }
            }
        }
        &-center {
            min-height: 100%;
        }
        &-right {
            display: flex;
            flex-direction: column;
            margin-left: $space-between-item;
            .c-categories__item {
                flex: 1;
                &:not(:last-child) {
                    margin-bottom: $space-between-item;
                }
            }
        }
    }
    &__item {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            .c-button-summit {
                height: unset;
                overflow: inherit;
                margin-top: 12px;
                padding: 12px 26px;
                opacity: 1;
                position: relative;
                transition: all 0.3s ease;
            }
        }
        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
        &-content {
            position: absolute;
            bottom: 26px;
            left: 30px;
        }
        &-title {
            color: $color-white;
            font-size: 24px;
            line-height: 32px;
        }
        &-properies {
            color: $color-white;
            font-size: 18px;
        }
        .c-button-summit {
            height: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            opacity: 0;
            position: absolute;
        }
    }
}
