.c-footer {
    background-color: $color_blue_dark;
    &--red {
        color: $color_red;
    }
    .c-logo:not(:hover) {
        .c-logo-icon {
            color: $color_grey;
        }
        .c-logo-text-1 {
            color: $color_grey;
        }
        .c-logo-text-2 {
            color: $color_grey;
        }
    }
    .c-logo {
        @media screen and (max-width: 767px) {
            margin-right: 0;
            margin-bottom: 48px;
        }
        &:hover {
            opacity: 1;
            .c-logo-text-1 {
                color: $color_red;
            }
        }
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 157px;
        @media screen and (max-width: 767px) {
            flex-direction: column;
            height: auto;
            padding: 53px 15px 74px;
        }
    }
    &__copy-right {
        color: $color_grey;
        font-size: 14px;
        line-height: 24px;
        @media screen and (max-width: 767px) {
            text-align: center;
            margin-bottom: 32px;
        }
    }
    &__social {
        i + i {
            margin-left: 17px;
        }
    }
    &__believes {
        color: $color_grey;
        font-size: 18px;
        margin-bottom: 44px;
        width: 100%;
        p {
            margin-bottom: 8px;
        }
        .c-footer--red {
            margin-left: 6px;
        }
    }
    &__blogroll {
        color: $color_grey;
        font-size: 18px;
        width: 100%;
        margin-bottom: 30px;
        &-title {
            text-align: center;
            font-size: 23px;
            margin-bottom: 18px;
        }
        p {
            margin-bottom: 9px;
            i {
                margin-right: 12px;
            }
        }
    }
    &__recent-posts {
        color: $color_grey;
        font-size: 18px;
        margin-bottom: 25px;
        width: 100%;
        .c-footer--red {
            margin-bottom: 4px;
        }
        .c-footer__time {
            margin-bottom: 18px;
        }
        &-title {
            text-align: center;
            font-size: 23px;
            margin-bottom: 20px;
        }
    }
    &__newsletter {
        color: $color_grey;
        font-size: 18px;
        margin-bottom: 53px;
        &-title {
            text-align: center;
            font-size: 23px;
            margin-bottom: 18px;
        }
        &-text {
            text-align: center;
            margin-bottom: 17px;
        }
        .c-input {
            width: 100%;
            margin-bottom: 20px;
        }
        .c-button-summit {
            margin: auto;
            display: block;
        }
    }
    &__time {
        font-size: 14px;
    }
}
