.c-form-search {
    position: relative;
    top: -150px;
    z-index: 1;
    .c-input,
    .c-dropdown {
        width: 100%;
    }
    .c-dropdown {
        input {
            width: 100%;
        }
    }
    &__inner {
        background-color: $color-white;
        box-shadow: 0 0 10px #00000022;
        padding: 25px 30px;
    }
    &__title {
        font-size: 30px;
        margin-bottom: 26px;
    }
    &__form {
        .c-button-summit {
            margin-top: 28px;
            min-width: 160px;
        }
        & > .u-flex + .u-flex {
            margin-top: 28px;
        }
        .slider {
            margin: 12px 0 0;
        }
    }
    &__form-group {
        flex: 1;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__form-label {
        display: block;
        font-size: 14px;
        margin-bottom: 6px;
    }
    &__form-dash {
        color: $color_grey;
        margin: 0 12px;
    }
    &__form-range-slider {
        .c-input {
            min-width: 140px;
        }
    }
    &__form-dropdown {
        .c-dropdown__text-box {
            padding: 10px 30px 10px 20px;
        }
    }
    &__form-plus {
        display: flex;
        align-items: center;
        margin-top: 16px;
        &-icon {
            color: $color-white;
            background: $color-red;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 16px;
        }
        &-text {
            color: $color-red;
            font-size: 18px;
        }
    }
}
