.c-menu {
    position: relative;
    z-index: 2;
    padding: 40px 0;
    background-color: $color_white;
    .c-logo {
        @media screen and (max-width: 1600px) {
            order: 0;
        }
    }
    .c-button-summit {
        @media screen and (max-width: 1600px) {
            order: 1;
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        @media screen and (max-width: 1600px) {
            order: 2;
            justify-content: space-between;
            width: 100%;
            margin-top: 28px;
        }
        &-item {
            position: relative;
            &:hover {
                .c-menu__menu-item-dropdown {
                    opacity: 1;
                    visibility: visible;
                    z-index: 0;
                }
            }
            &-name {
                color: $color_red;
                margin: 0 29px;
                letter-spacing: 2px;
                font-weight: 600;
                @media screen and (max-width: 1600px) {
                    margin: 0;
                }
                &:hover {
                    color: $color_red_500;
                }
            }
            &-dropdown {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                transition: all 0.3s ease;
            }
        }
    }
}
