.c-menu {
    position: relative;
    z-index: 2;
    padding: 40px 0;
    @media screen and (max-width: 767px) {
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .c-button-summit {
        @media screen and (max-width: 1700px) {
            order: 1;
        }
        @media screen and (max-width: 767px) {
            width: 90%;
            margin: 20px auto;
            display: block;
        }
    }
    &__menu-toggle {
        height: 0px;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        background-color: $color_white;
        flex: 1;
        position: relative;
        .c-logo {
            @media screen and (max-width: 1700px) {
                order: 0;
            }
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
        .c-menu__menu {
            order: 0;
        }
        &.active {
            height: 100%;
            opacity: 1;
        }
    }
    &__menu-fixed {
        background-color: $color_blue_dark;
        display: flex;
        align-items: center;
        padding: 5px 12px;
        @media screen and (min-width: 768px) {
            display: none;
        }
        &-icon {
            color: $color_white;
            font-size: 28px;
            margin-right: 20px;
        }
        .c-logo-text-1 {
            color: $color_white;
        }
        .c-logo-text-1,
        .c-logo-text-2 {
            font-size: 20px;
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 1700px) {
            order: 2;
            justify-content: space-between;
            width: 100%;
            margin-top: 28px;
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
            margin: 0;
            background-color: $color_white;
        }
        &-item {
            position: relative;
            @media screen and (max-width: 767px) {
                padding: 12px;
                width: 100%;
                text-align: center;
                position: unset;
            }
            &:last-child &-dropdown {
                right: 0;
                left: unset;
            }
            .c-menu__menu-item-dropdown {
                &:hover {
                    @media screen and (min-width: 768px) {
                        .c-menu__menu-item-dropdown {
                            opacity: 1;
                            visibility: visible;
                            z-index: 10;
                            @media screen and (max-width: 767px) {
                                top: 0 !important;
                                left: 0 !important;
                            }
                        }
                    }
                }
                &.active {
                    @media screen and (max-width: 767px) {
                        opacity: 1;
                        visibility: visible;
                        z-index: 10;
                        @media screen and (max-width: 767px) {
                            top: 0 !important;
                            left: 0 !important;
                        }
                    }
                }
            }
            &-name {
                color: $color_red;
                margin: 0 29px;
                letter-spacing: 2px;
                font-weight: 600;
                @media screen and (max-width: 1700px) {
                    margin: 0;
                }
                &:hover {
                    color: $color_red_500;
                }
            }
            &-dropdown {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                transition: all 0.3s ease;
                @media screen and (max-width: 767px) {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    left: 0;
                }
                &-text {
                    @media screen and (max-width: 767px) {
                        text-align: center;
                        font-weight: 500;
                        top: 0 !important;
                        left: 0 !important;
                    }
                }
            }
        }
    }
}
