.c-menu {
    position: relative;
    z-index: 2;
    padding: 40px 0;
    &__logo {
        display: flex;
        align-items: center;
        margin-right: 12px;
        &-icon {
            font-size: 40px;
            color: $color_red;
            margin-right: 12px;
        }
        &-text {
        }
        &-text-1 {
            display: block;
            font-size: 22px;
            line-height: 1;
            letter-spacing: 2px;
            font-weight: 600;
            letter-spacing: 0.6px;
        }
        &-text-2 {
            font-size: 22px;
            line-height: 1;
            letter-spacing: 2px;
            color: $color_red;
            font-weight: 600;
            letter-spacing: 0.6px;
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        &-item {
            position: relative;
            &:hover {
                .c-menu__menu-item-dropdown {
                    opacity: 1;
                    visibility: visible;
                    z-index: 0;
                }
            }
            &-name {
                color: $color_red;
                margin: 0 29px;
                letter-spacing: 2px;
                font-weight: 600;
                &:hover {
                    color: $color_red_500;
                }
            }
            &-dropdown {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                transition: all 0.3s ease;
            }
        }
    }
}
