.c-menu {
    position: relative;
    z-index: 2;
    padding: 40px 0;
    background-color: $color_white;
    &__menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &-item {
            position: relative;
            &:hover {
                .c-menu__menu-item-dropdown {
                    opacity: 1;
                    visibility: visible;
                    z-index: 0;
                }
            }
            &-name {
                color: $color_red;
                margin: 0 29px;
                letter-spacing: 2px;
                font-weight: 600;
                &:hover {
                    color: $color_red_500;
                }
            }
            &-dropdown {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                transition: all 0.3s ease;
            }
        }
    }
}
