.c-mv {
    position: relative;
    z-index: 1;
    .dots {
        width: 100%;
        max-width: calculateRem($pc_width_max);
        margin: 0 auto;
        padding-left: calculateRem(75px);
        padding-right: calculateRem(75px);
        position: relative;
        top: -230px;
        justify-content: flex-end;

        .dot {
            background-color: $color_white;
            opacity: 0.3;
            &--active {
                background-color: $color_white;
                opacity: 1;
            }
        }
    }
    .keen-slider {
        height: 620px;
    }
    &__carousel {
        &-item {
            position: relative;
        }
        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-content {
            position: absolute;
            top: 78px;
            width: 100%;
            &-title {
                color: $color-white;
                font-size: 64px;
            }
            &-desc {
                color: $color-white;
                font-size: 24px;
                max-width: 560px;
                line-height: 1.4;
                margin-bottom: 18px;
            }
            &-price {
                color: $color-white;
                margin-bottom: 12px;
                span {
                    &:first-child {
                        font-size: 31px;
                        font-weight: 500;
                    }
                    &:last-child {
                        font-size: 18px;
                    }
                }
            }
            &-button {
                background: none;
                color: $color-white;
                font-size: 16px;
                border: 2px solid $color-white;
                padding: 10px 23px;
                letter-spacing: 1.3px;
                font-weight: 600;
                transition: all 0.3s ease;
                &:hover {
                    background-color: $color_red_500;
                    border-color: $color_red_500;
                }
            }
        }
    }
}
