$space-between-item: 30px;

.c-properties {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: $color-white;
    @media screen and (max-width: 767px) {
        padding-top: 62px;
        padding-bottom: 55px;
    }
    .c-heading-section {
        margin-bottom: 60px;
        cursor: default;
        @media screen and (max-width: 767px) {
            margin-bottom: 36px;
        }
    }
    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__item {
        position: relative;
        max-width: calc((100% - 60px) / 3);
        margin-bottom: 55px;
        @media screen and (max-width: 767px) {
            max-width: 100%;
            width: 100%;
            margin-bottom: 47px;
        }
        &-image-block {
            max-height: 250px;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
            cursor: pointer;
            @media screen and (max-width: 767px) {
                height: 209px;
                margin-bottom: 18px;
            }
        }
        &-image {
            width: 100%;
            height: auto;
            object-fit: cover;
            @media screen and (max-width: 767px) {
                height: 100%;
            }
        }
        &-price {
            position: absolute;
            bottom: 20px;
            right: 0;
            background-color: $color-red;
            color: $color-white;
            padding: 0px 28px;
            font-size: 14px;
            line-height: 32px;
            font-weight: 500;
            span {
                font-size: 18px;
            }
        }
        &-title {
            color: $color-red;
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
            margin-bottom: 20px;
            @media screen and (max-width: 767px) {
                padding: 0 10px;
                text-align: center;
                line-height: 1.2;
                margin-bottom: 8px;
            }
        }
        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 12px;
            @media screen and (max-width: 767px) {
                margin-bottom: -5px;
            }
            &-item {
                display: flex;
                align-items: center;
                width: 50%;
                margin-bottom: 8px;
                @media screen and (max-width: 767px) {
                    width: calc(50% - 10px);
                    margin-left: 10px;
                    margin-bottom: 14px;
                }
                span {
                    font-size: 18px;
                    margin-left: 12px;
                    @media screen and (max-width: 767px) {
                        font-size: 16px;
                    }
                }
            }
        }
        &-desc {
            font-size: 18px;
            letter-spacing: 1px;
            @media screen and (max-width: 767px) {
                font-size: 16px;
                line-height: 1.75;
                text-align: center;
            }
        }
    }
    .c-button-summit {
        margin-top: -28px;
        display: block;
        min-width: 270px;
        @media screen and (max-width: 767px) {
            min-width: 100%;
            margin-top: -14px;
        }
    }
}
