.slider-content {
    .slider {
        display: block;
        position: relative;
        height: 36px;
        width: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;

        .slider-touch-left,
        .slider-touch-right {
            display: block;
            position: absolute;
            height: 36px;
            width: 36px;
            padding: 10px;
            z-index: 2;
            cursor: pointer;

            span {
                display: block;
                width: 100%;
                height: 100%;
                background: $color-red;
                border-radius: 50%;
            }
        }

        .slider-line {
            position: absolute;
            width: calc(100% - 36px);
            left: 18px;
            top: 16px;
            height: 4px;
            border-radius: 4px;
            background: #f0f0f0;
            z-index: 0;
            overflow: hidden;

            span {
                display: block;
                height: 100%;
                width: 0%;
                background: $color-red;
            }
        }
    }
}
