.c-testimonials {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    background-color: $color_white;
    @media screen and (max-width: 767px) {
        padding-top: 61px;
        padding-bottom: 110px;
    }
    .c-heading-section {
        cursor: default;
        margin-bottom: 56px;
    }
    &__inner {
        overflow: hidden;
    }
    &__carousel {
        &-item {
            &-header {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                @media screen and (max-width: 767px) {
                    justify-content: center;
                }
            }
            &-image {
                margin-right: 20px;
                display: inline-block;
            }
            &-title {
                font-size: 18px;
                font-weight: 500;
                @media screen and (max-width: 767px) {
                    font-size: 21px;
                }
            }
            &-desc {
                font-style: italic;
                @media screen and (max-width: 767px) {
                    text-align: center;
                    line-height: 1.75;
                }
            }
        }
    }
    .dots {
        margin-top: 64px;
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}
