.c-testimonials {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    background-color: $color_white;
    .c-heading-section {
        cursor: default;
        margin-bottom: 56px;
    }
    &__inner {
        overflow: hidden;
    }
    &__carousel {
        &-item {
            &-header {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }
            &-image {
                margin-right: 20px;
                display: inline-block;
            }
            &-title {
                font-size: 18px;
                font-weight: 500;
            }
            &-desc {
                font-style: italic;
            }
        }
    }
    .dots {
        margin-top: 66px;
    }
}
