<footer class="c-footer">
    <div class="container">
        @@include('./components/logo.html')
        <div class="c-footer__believes only-sp">
            <p>We Believe in Simple, Creative & Flexible Design Standards</p>
            <p>Headquarters:</p>
            <p>795 Folsom Ave, Suite 600 San Francisco, CA 94107</p>
            <p>Phone <span class="c-footer--red">(91) 8547 632521</span></p>
            <p>Fax <span class="c-footer--red">(91) 11 4752 1433</span></p>
            <p>Email <span class="c-footer--red">info@canvas.com</span></p>
        </div>
        <div class="c-footer__blogroll only-sp">
            <h3 class="c-footer__blogroll-title">Blogroll</h3>
            <p>
                <i class="fa-solid fa-angle-right"></i> <span class="c-footer--red">Documentation</span>
            </p>
            <p>
                <i class="fa-solid fa-angle-right"></i> <span class="c-footer--red">Feedback</span>
            </p>
            <p>
                <i class="fa-solid fa-angle-right"></i> <span class="c-footer--red">Plugins</span>
            </p>
            <p>
                <i class="fa-solid fa-angle-right"></i> <span class="c-footer--red">Support Forums</span>
            </p>
            <p>
                <i class="fa-solid fa-angle-right"></i> <span class="c-footer--red">Themes</span>
            </p>
            <p>
                <i class="fa-solid fa-angle-right"></i> <span class="c-footer--red">WordPress Blog</span>
            </p>
            <p>
                <i class="fa-solid fa-angle-right"></i> <span class="c-footer--red">WordPress Planet</span>
            </p>
        </div>
        <div class="c-footer__recent-posts only-sp">
            <h3 class="c-footer__recent-posts-title">Recent posts</h3>
            <div class="c-footer__recent-post">
                <p class="c-footer--red">Believe in the Business of Your Dreams</p>
                <p class="c-footer__time">December 28, 2016</p>
            </div>
            <div class="c-footer__recent-post">
                <p class="c-footer--red">Believe in the Business of Your Dreams</p>
                <p class="c-footer__time">December 28, 2016</p>
            </div>
            <div class="c-footer__recent-post">
                <p class="c-footer--red">Believe in the Business of Your Dreams</p>
                <p class="c-footer__time">December 28, 2016</p>
            </div>
        </div>
        <div class="c-footer__newsletter only-sp">
            <h3 class="c-footer__newsletter-title">Newsletter</h3>
            <p class="c-footer__newsletter-text only-sp">
                Enter your email address to receive all news, updates on new arrivals, special offers and other
                information.
            </p>
            @@include('./components/input.html',{ "id": "footer-email", "defaultValue": "", 'placeholder': 'Your e-mail' })
            <button class="c-button-summit hover-opacity">SUBSCRIBE</button>
        </div>
        <p class="c-footer__copy-right">© 2016 All Rights Reserved Terms of Use and Privacy Policy</p>
        <div class="u-flex--wrap u-flex__y--center c-footer__social">
            <i class="fa-brands fa-facebook-f c-header__icon hover-color-red hover-scale"></i>
            <i class="fa-brands fa-twitter c-header__icon hover-color-red hover-scale"></i>
            <i class="fa-brands fa-pinterest-p c-header__icon hover-color-red hover-scale"></i>
            <i class="fa-brands fa-vimeo-v c-header__icon hover-color-red hover-scale"></i>
            <i class="fa-brands fa-google c-header__icon hover-color-red hover-scale"></i>
            <i class="fa-solid fa-rss c-header__icon hover-color-red hover-scale"></i>
        </div>
    </div>
</footer>
@@include('./script.html')
</body>

</html>