<footer class="c-footer">
    <div class="container">
        @@include('./components/logo.html')
        <p class="c-footer__copy-right">© 2016 All Rights Reserved Terms of Use and Privacy Policy</p>
        <div class="u-flex--wrap u-flex__y--center c-footer__social">
            <i class="fa-brands fa-facebook-f c-header__icon hover-color-red hover-scale"></i>
            <i class="fa-brands fa-twitter c-header__icon hover-color-red hover-scale"></i>
            <i class="fa-brands fa-pinterest-p c-header__icon hover-color-red hover-scale"></i>
            <i class="fa-brands fa-vimeo-v c-header__icon hover-color-red hover-scale"></i>
            <i class="fa-brands fa-google c-header__icon hover-color-red hover-scale"></i>
            <i class="fa-solid fa-rss c-header__icon hover-color-red hover-scale"></i>
        </div>
    </div>
</footer>
@@include('./script.html')
</body>
</html>