<header class="c-header">
    <div class="container">
        <div class="u-flex--wrap u-flex__y--center u-flex__x--between">
            <div class="u-flex--wrap u-flex__y--center c-left-header">
                <div class="c-left-header__logo">
                    <i class="fa fa-user c-header__icon c-header__icon"></i>
                    <span class="c-left-header__logo-text">Login/Registration</span>
                </div>
                <div class="c-left-header__phone">
                    <i class="fa-solid fa-phone c-header__icon"></i>
                    <span class="c-left-header__phone-number">1-800-1234-567</span>
                </div>
                <div class="c-left-header__mail">
                    <i class="fa-solid fa-envelope-open c-header__icon"></i>
                    <span class="c-left-header__mail-text">info@demolink.org</span>
                </div>
                <div class="c-left-header__notion">
                    <span class="c-left-header__notion-text">Professional realtor works for you</span>
                </div>
            </div>
            <div class="u-flex--wrap u-flex__y--center c-right-header">
                <i class="fa-brands fa-facebook-f c-header__icon"></i>
                <i class="fa-brands fa-twitter c-header__icon"></i>
                <i class="fa-brands fa-pinterest-p c-header__icon"></i>
                <i class="fa-brands fa-vimeo-v c-header__icon"></i>
                <i class="fa-brands fa-google c-header__icon"></i>
                <i class="fa-solid fa-rss c-header__icon"></i>
            </div>
        </div>
    </div>
</header>