.c-heading-section {
    font-size: 48px;
    line-height: 62px;
    position: relative;
    display: inline-block;
    padding-bottom: 23px;
    @media screen and (max-width: 767px) {
        width: 100%;
        text-align: center;
        font-size: 28px;
        line-height: 40px;
    }
    &::before {
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
}
