img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    margin: 0 auto;
}

.c-thumbnail {
    width: 100%;

    img {
        width: 100%;
    }
}

.c-thumbnail--ratio,
.c-thumbnail--1x1,
.c-thumbnail--16x9,
.c-thumbnail--4x3,
.c-thumbnail--cycle {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    background: #a9a9a9;
    height: 0;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100% !important;
        height: 100% !important;
        transform: translate(-50%, -50%);
        object-fit: cover;
        object-position: center;
    }

    background: #f1f1f1;
}

.c-thumbnail--1x1 {
    padding-bottom: 100% !important;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.c-thumbnail--4x3 {
    padding-bottom: 75% !important;
    background: #f1f1f1;
}

.c-thumbnail--cycle {
    overflow: hidden;
    border-radius: 50%;
    padding-bottom: 100% !important;

    * {
        border-radius: 50%;
        overflow: hidden;
    }
}

.content_main {
    img {
        width: 100% !important;
        height: auto;
    }
}